In [2]:
# !pip install psycopg2==2.9.9
# !pip install psycopg2-binary==2.9.9

Requirement already satisfied: psycopg2==2.9.9 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.9.9)
Requirement already satisfied: psycopg2-binary==2.9.9 in c:\users\dell\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.9.9)

In [3]:
import psycopg2
from psycopg2 import OperationalError, errorcodes, errors

import pandas as pd

In [4]:
try:
    conexion = psycopg2.connect(
    database = 'Chinook',
    user = 'postgres',
    password = 'admin',
    host = 'localhost',
    port = '5432')
except OperationalError as e: #el alias es e
    if e.pgcode == errorcodes.INVALID_PASSWORD:
        print('la contraseña es erronea')
    elif e.pgcode == errorcodes.CONNECTION_EXCEPTION:
        print('error de conexion')
    else:
        print(f'el error es el siguiente {e}')

In [9]:
cursor = conexion.cursor() # nos mueve la info desde sql a python
cursor.execute('SELECT * FROM "Genre";') #llamada con comillas simples, tabla con comillas dobles
pd.DataFrame(cursor.fetchall()).head() # pido la info, toda / si pido fetchone llama solo uno
# pd.DataFrame(cursor.fetchone()).T
cursor.close()
conexion.close()

In [14]:
try:
    conexion = psycopg2.connect(
    database = 'aprendiendo',
    user = 'postgres',
    password = 'admin',
    host = 'localhost',
    port = '5432')
except OperationalError as e: #el alias es e
    if e.pgcode == errorcodes.INVALID_PASSWORD:
        print('la contraseña es erronea')
    elif e.pgcode == errorcodes.CONNECTION_EXCEPTION:
        print('error de conexion')
    else:
        print(f'el error es el siguiente {e}')

In [15]:
cursor = conexion.cursor() #para crear la tabla desde aquí
query_creacion = """ 
    CREATE TABLE IF NOT EXISTS clientes (
    id_cliente SERIAL PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL,
    edad int CHECK (edad > 18));

"""
cursor.execute(query_creacion)
conexion.commit()

query_insercion = 'INSERT INTO clientes (nombre, edad) VALUES (%s, %s)' # insertar valores %s es como un formato. como un argumento
valores = ('PEPE', 19)
cursor.execute(query_insercion, valores)
conexion.commit()

In [19]:
valores_multiples = [('Marcos', 21),
                     ('Mariano', 32)]

cursor.executemany(query_insercion, valores_multiples)
conexion.commit()

In [16]:

# cursor.close()
# conexion.close() # aparezcan los cambios

In [24]:
df = pd.read_csv('datos_ebay_zapatillas2024-10-15.csv', index_col= 0)

In [27]:
lista_tuplas = []
for fila in df.values:
    lista_tuplas.append(tuple(fila))
lista_tuplas[:3]

# [tuple(fila) for fila in df.values]

[('Adidas Hombres 7.5 NMD_V3 BOOST Zapatos Nube Blanco/Gris Dos HP9831 NUEVO',
  'https://i.ebayimg.com/thumbs/images/g/7YMAAOSwjfFnDgZF/s-l960.jpg',
  '169,48 EUR'),
 ('Adidas Pro Model Zapatos JH7147 Preloved Marrón/Núcleo Negro/Marfil',
  'https://i.ebayimg.com/thumbs/images/g/X4IAAOSwwxNnACBO/s-l960.jpg',
  '171,82 EUR'),
 ('Adidas Originals SL 72 RS Spark Core Negro Blanco IH7912 Hombres Talla',
  'https://i.ebayimg.com/thumbs/images/g/tJEAAOSwqSZm-ito/s-l960.jpg',
  '174,13 EUR')]

In [29]:
lista_tuplas = [tuple(fila) for fila in df.values]

In [17]:
#  #llamada con comillas simples, tabla con comillas dobles
# pd.DataFrame(cursor.fetchall()).head() # pido la info, toda / si pido fetchone llama solo uno
# # pd.DataFrame(cursor.fetchone()).T
# cursor.close()
# conexion.close()