<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

<h1>Tabla de Contenidos<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introducci√≥n-a-Pandas" data-toc-modified-id="Introducci√≥n-a-Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introducci√≥n a Pandas</a></span><ul class="toc-item"><li><span><a href="#¬øQu√©-es-Pandas-y-por-qu√©-es-importante?" data-toc-modified-id="¬øQu√©-es-Pandas-y-por-qu√©-es-importante?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>¬øQu√© es Pandas y por qu√© es importante?</a></span></li></ul></li><li><span><a href="#Series-de-Pandas" data-toc-modified-id="Series-de-Pandas-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Series de Pandas</a></span><ul class="toc-item"><li><span><a href="#¬øQu√©-es-una-Serie?" data-toc-modified-id="¬øQu√©-es-una-Serie?-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>¬øQu√© es una Serie?</a></span></li><li><span><a href="#Creaci√≥n-de-Series" data-toc-modified-id="Creaci√≥n-de-Series-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Creaci√≥n de Series</a></span></li><li><span><a href="#Propiedades-de-las-Series" data-toc-modified-id="Propiedades-de-las-Series-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Propiedades de las Series</a></span></li><li><span><a href="#Indexaci√≥n-de-las-Series" data-toc-modified-id="Indexaci√≥n-de-las-Series-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Indexaci√≥n de las Series</a></span></li></ul></li><li><span><a href="#DataFrames-en-Pandas" data-toc-modified-id="DataFrames-en-Pandas-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>DataFrames en Pandas</a></span><ul class="toc-item"><li><span><a href="#¬øQu√©-es-un-DataFrame?" data-toc-modified-id="¬øQu√©-es-un-DataFrame?-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>¬øQu√© es un DataFrame?</a></span></li><li><span><a href="#Creaci√≥n-de-DataFrames" data-toc-modified-id="Creaci√≥n-de-DataFrames-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Creaci√≥n de DataFrames</a></span></li><li><span><a href="#Lectura-de-archivos-en-Pandas" data-toc-modified-id="Lectura-de-archivos-en-Pandas-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Lectura de archivos en Pandas</a></span></li><li><span><a href="#pd.read_csv():" data-toc-modified-id="pd.read_csv():-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span><code>pd.read_csv()</code>:</a></span></li><li><span><a href="#pd.read_excel()" data-toc-modified-id="pd.read_excel()-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span><code>pd.read_excel()</code></a></span></li><li><span><a href="#pd.read_json()" data-toc-modified-id="pd.read_json()-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span><code>pd.read_json()</code></a></span></li><li><span><a href="#pd.read_pickle" data-toc-modified-id="pd.read_pickle-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span><code>pd.read_pickle</code></a></span></li><li><span><a href="#Indexaci√≥n-en-Pandas-(loc-e-iloc)" data-toc-modified-id="Indexaci√≥n-en-Pandas-(loc-e-iloc)-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>Indexaci√≥n en Pandas (<code>loc</code> e <code>iloc</code>)</a></span><ul class="toc-item"><li><span><a href="#Selecci√≥n-a-trav√©s-de-un-√∫nico-elemento" data-toc-modified-id="Selecci√≥n-a-trav√©s-de-un-√∫nico-elemento-3.8.1"><span class="toc-item-num">3.8.1&nbsp;&nbsp;</span>Selecci√≥n a trav√©s de un √∫nico elemento</a></span></li><li><span><a href="#Selecci√≥n-a-trav√©s-de-una-lista-de-valores" data-toc-modified-id="Selecci√≥n-a-trav√©s-de-una-lista-de-valores-3.8.2"><span class="toc-item-num">3.8.2&nbsp;&nbsp;</span>Selecci√≥n a trav√©s de una lista de valores</a></span></li><li><span><a href="#Selecci√≥n-de-un-rango-de-datos-a-trav√©s-de-un-corte" data-toc-modified-id="Selecci√≥n-de-un-rango-de-datos-a-trav√©s-de-un-corte-3.8.3"><span class="toc-item-num">3.8.3&nbsp;&nbsp;</span>Selecci√≥n de un rango de datos a trav√©s de un corte</a></span></li><li><span><a href="#Seleccionar-basado-en-una-condici√≥n" data-toc-modified-id="Seleccionar-basado-en-una-condici√≥n-3.8.4"><span class="toc-item-num">3.8.4&nbsp;&nbsp;</span>Seleccionar basado en una condici√≥n</a></span></li></ul></li></ul></li></ul></div>

# Introducci√≥n a Pandas

## ¬øQu√© es Pandas y por qu√© es importante?

`Pandas` es una biblioteca de Python utilizada para el an√°lisis de datos y la manipulaci√≥n de estructuras de datos tabulares, es decir, en formato de tablas. Nos ofrece una gran cantidad de funciones y herramientas para trabajar con datos de forma eficiente y efectiva. Algunas de las razones por las que Pandas es importante son:

- Define nuevas estructuras de datos basadas en los **array*s* de la biblioteca NumPy, pero con funcionalidades adicionales. Esto significa que podemos aprovechar las capacidades de NumPy y agregar nuevas funcionalidades espec√≠ficas para el an√°lisis de datos.
  
- Permite la carga y manipulaci√≥n de datos de diferentes fuentes, como archivos CSV, Excel, bases de datos SQL, entre otros.
  
- Proporciona funciones para explorar y entender r√°pidamente la estructura y contenido de los datos.

- Facilita la limpieza y transformaci√≥n de datos, lo que es fundamental para garantizar la calidad de los datos antes del an√°lisis.

- Ofrece herramientas para realizar an√°lisis estad√≠sticos, visualizaciones y modelado de datos.

- Permite acceder a los datos mediante √≠ndices o nombres para filas y columnas. Esto significa que puedes acceder a los datos utilizando etiquetas en lugar de solo posiciones num√©ricas, lo cual es especialmente √∫til cuando los datos est√°n etiquetados o indexados de manera significativa.

- Ofrece m√©todos para reordenar, dividir y combinar conjuntos de datos. Puedes realizar operaciones como clasificaci√≥n, filtrado y combinaci√≥n de datos para obtener resultados espec√≠ficos o realizar an√°lisis m√°s avanzados.

En cuanto a las estructuras de datos en Pandas, existen tres principales:

1. `Series`: Representa una estructura de datos unidimensional similar a un *array* o una columna en una tabla. Cada elemento en una Serie tiene un √≠ndice asociado que permite acceder a los datos de forma individual.


2. `DataFrame`: Representa una estructura de datos bidimensional similar a una tabla de una base de datos o una hoja de c√°lculo de Excel. Consiste en una colecci√≥n de Series organizadas en columnas. Los *DataFrame*s son especialmente √∫tiles para el an√°lisis de datos tabulares y ofrecen una gran cantidad de funcionalidades para manipular y analizar los datos.


3. `Panel`: Representa una estructura de datos tridimensional, aunque su uso no es tan com√∫n como las *Series* y los *DataFrame*s. Puede considerarse como una colecci√≥n de *DataFrame*s.

Antes de ponernos a trabajar con Pandas, lo primero que tendremos que hacer es instalar la librer√≠a usando `pip` o `pip3`: 

```bash
pip install pandas

pip3 install pandas
```

In [6]:
# Tratamiento de datos
# ==============================================================================
import pandas as pd

# Ignorar warnings
# ==============================================================================
import warnings
warnings.filterwarnings("ignore")


# Configuraci√≥n
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Series de Pandas

## ¬øQu√© es una Serie?


Como hemos dicho, una **Serie** es una estructura de datos unidimensional en **Pandas**. Se puede pensar en una **Serie** como una columna en una tabla  con etiquetas de √≠ndice. Cada elemento en una **Serie** tiene un √≠ndice asociado que permite acceder a los datos de forma individual.

Las Series en Pandas tienen las siguientes caracter√≠sticas:

1. **Datos homog√©neos**: Contiene datos de **un solo tipo**, como *integer*s, *float*s, *strings*, etc. 

2. **√çndices etiquetados**: Cada elemento en una **Serie** tiene una etiqueta de √≠ndice asociada. Los √≠ndices pueden ser etiquetas personalizadas o valores num√©ricos generados autom√°ticamente. Estas etiquetas permiten un acceso m√°s intuitivo a los datos en lugar de depender solo de las posiciones num√©ricas.

3. **Funcionalidades adicionales**: Proporcionan numerosas funcionalidades para manipular y analizar datos de manera eficiente. Puedes realizar operaciones matem√°ticas, filtrado de datos, agregaci√≥n, ordenamiento, alineaci√≥n de datos, entre otras.

Es importante destacar que las **Series** y los **DataFrames** son los elementos fundamentales en el ecosistema de Pandas, y muchas operaciones de an√°lisis de datos se realizan utilizando estas estructuras de datos.


## Creaci√≥n de Series

Podemos crear Series de distintas formas: 

- Series vac√≠as.

- Series a partir de un **array**. Recordamos, las **Series** son unidimensionales, por lo tanto solo le podremos pasar **array*s* unidimensionales.

- Series a partir de listas.

- Series a partir de un diccionario.

In [7]:
# creemos algunas Series en Pandas para entenderlas mejor.
# en este primer ejemplo crearemos una Serie vac√≠a

print(" ------ SERIES VAC√çAS ------ ")
serie_vacia = pd.Series()
serie_vacia

 ------ SERIES VAC√çAS ------

Series([], dtype: object)

In [8]:
print(" ------ SERIES a partir de LISTAS ------ ")

# definimos la lista
lista = [109,78, 4, 189, 98]

# convertimos esta lista en una Serie
serie_lista1 = pd.Series(lista)
serie_lista1

 ------ SERIES a partir de LISTAS ------

0    109
1     78
2      4
3    189
4     98
dtype: int64

üìå Si nos fijamos el m√©todo `pd.Series` nos va a generar autom√°ticamente el √≠ndice y lo crea con n√∫meros consecutivos, empezando por el 0. Sin embargo, tambi√©n le podemos pasar los √≠ndices que queremos usando el par√°metro `index`. Tener √≠ndices personalizados puede ser √∫til cuando necesitamos acceder a los elementos de la **Serie** utilizando etiquetas espec√≠ficas en lugar de las posiciones num√©ricas predeterminadas. Esto facilita la manipulaci√≥n y el an√°lisis de los datos. 



> index: Es un par√°metro opcional de la funci√≥n `pd.Series`. En este caso, se proporciona una lista de √≠ndices personalizados para la Serie. Los √≠ndices indican c√≥mo se etiquetar√°n los elementos de la Serie. En este ejemplo, los √≠ndices se definen en el orden especificado: 3, 4, 5, 6, 7, 8, 9, 1, 2.
>
> Es importante destacar que los √≠ndices pueden ser de diferentes tipos, incluidos *integer*s, cadenas, fechas, etc. Adem√°s, los √≠ndices no necesariamente tienen que estar en orden o ser consecutivos.

In [9]:
print(" ------ SERIES a partir de LISTAS ESPECIFICANDO √çNDICE N√öMERICO ------ ")
# vamos a definir una nueva serie pero en este caso vamos a ponerle nuestro propio √≠ndice usando el par√°metro 'index'
serie_lista2 = pd.Series(lista, index = [3,4,5,6,7])
display(serie_lista2)

print(" ------ SERIES a partir de LISTAS ESPECIFICANDO √çNDICE STRING ------ ")

# como hemos mencionado los √≠ndices pueden ser de distintos tipos, en este caso crearemos una nueva Serie donde sus √≠ndices sean strings
serie_lista3 = pd.Series(lista, index = ["Lunes","Martes","Miercoles","Jueves","Viernes"])
display(serie_lista3)

 ------ SERIES a partir de LISTAS ESPECIFICANDO √çNDICE N√öMERICO ------

3    109
4     78
5      4
6    189
7     98
dtype: int64

 ------ SERIES a partir de LISTAS ESPECIFICANDO √çNDICE STRING ------

Lunes        109
Martes        78
Miercoles      4
Jueves       189
Viernes       98
dtype: int64

In [10]:
print(" ------ SERIES a partir de DICCIONARIOS ------ ")

# definir un diccionario 
dicc = {'Manolo' : 20, 
        'Lorena' : 220, 
        'Paula' : 198, 
        'Lola': 78, 
       'Marta': 167, 
        'Pablo': 48} 

# crear una serie nueva a partir del diccionario definido previamente
serie_diccionario = pd.Series(dicc)
serie_diccionario

 ------ SERIES a partir de DICCIONARIOS ------

Manolo     20
Lorena    220
Paula     198
Lola       78
Marta     167
Pablo      48
dtype: int64

## Propiedades de las Series

Las propiedades son atributos espec√≠ficos que nos proporcionan informaci√≥n sobre las caracter√≠sticas de una **Serie** en particular. Las propiedades m√°s importantes de las **Series** :

1. `values`: Devuelve los valores de la **Serie** como un *array* NumPy. Podemos acceder a ellos utilizando la sintaxis `serie.values`.

2. `index`: Devuelve los √≠ndices de la **Serie**. Como hemos dicho, los √≠ndices pueden ser de cualquier tipo, incluyendo *integer*s, *strings* u otros tipos o estructuras de datos. Podemos acceder a ellos utilizando la sintaxis `serie.index`.

3. `dtype`: Devuelve el tipo de datos de los elementos en la Serie. Usaremos la sintaxis `serie.dtype`. Los tipos de datos m√°s comunes que podemos encontrar en una Serie son `int64`, `float64`, `object` (que es el *string* que conocemos de Python b√°sico), `datetime64`, entre otros.

4. `size`: Devuelve el n√∫mero total de elementos en la Serie. Usaremos la sintaxis `serie.size`.

5. `shape`: Devuelve una tupla que representa la forma (dimensiones) de la **Serie**. En el caso de una **Serie** unidimensional, la forma ser√° `(n,)`, donde `n` es el n√∫mero de elementos en la Serie. Usaremos la sintaxis `serie.shape`.

Estas propiedades son √∫tiles para obtener informaci√≥n sobre una **Serie** en particular, como el tipo de datos, el n√∫mero de elementos y los √≠ndices asociados. Adem√°s, las propiedades pueden ser utilizadas en conjunto con los m√©todos y funciones de Pandas para realizar operaciones y an√°lisis m√°s avanzados en los datos de la **Serie**.

Es importante tener en cuenta que las **Series** son inmutables, lo que significa que no podemos cambiar sus elementos directamente. Sin embargo, podremos realizar operaciones y manipulaciones para obtener nuevos resultados o modificar la estructura de los datos en funci√≥n de nuestras necesidades.

In [11]:
# recordemos la serie
display("La serie con la que vamos a trabajar es:", serie_diccionario)
print("---------------------------")

# utilizamos el m√©todo index que nos va a devolver todos los √≠ndices 
# fijaos como en este caso nos ha devuelto todos los √≠ndices de nuestra Serie, es decir, los nombres de las alumnas
print(f"El m√©todo 'index' nos devuelve los √≠ndices de la Serie: {serie_diccionario.index}")
print("---------------------------")

# ahora utilizamos el m√©todo 'values' nos devuelve todos los valores de la Serie
# en este caso los n√∫meros que ten√≠amos
print(f"El m√©todo 'values' nos devuelve los valores de la Serie: {serie_diccionario.values}")
print("---------------------------")

#utilizando el m√©todo 'shape' nos devuelve el n√∫mero de "filas" que tenemos en la Serie
print(f"El m√©todo 'shape' nos devuelve la forma de la Serie: {serie_diccionario.shape}")
print("---------------------------")

#utilizando el m√©todo 'size' nos devuelve el n√∫mero de elementos que tenemos en la Serie
print(f"El m√©todo 'size' nos devuelve el n√∫mero de elementos de la Serie: {serie_diccionario.size}")
print("---------------------------")

#utilizando el m√©todo 'dtypes' nos devuelve el tipo de datos de la Serie
print(f"El m√©todo 'dtypes' nos devuelve el tipo de datos de la Serie: {serie_diccionario.dtypes}")

'La serie con la que vamos a trabajar es:'

Manolo     20
Lorena    220
Paula     198
Lola       78
Marta     167
Pablo      48
dtype: int64

---------------------------
El m√©todo 'index' nos devuelve los √≠ndices de la Serie: Index(['Manolo', 'Lorena', 'Paula', 'Lola', 'Marta', 'Pablo'], dtype='object')
---------------------------
El m√©todo 'values' nos devuelve los valores de la Serie: [ 20 220 198  78 167  48]
---------------------------
El m√©todo 'shape' nos devuelve la forma de la Serie: (6,)
---------------------------
El m√©todo 'size' nos devuelve el n√∫mero de elementos de la Serie: 6
---------------------------
El m√©todo 'dtypes' nos devuelve el tipo de datos de la Serie: int64

## Indexaci√≥n de las Series

La indexaci√≥n se refiere a la forma en que accedemos a los elementos de una **Serie** utilizando √≠ndices o etiquetas. Pandas ofrece varias opciones para indexar y seleccionar elementos. Algunas de las principales formas de realizar la indexaci√≥n en las Series son:

-  **Indexaci√≥n por posici√≥n**: Podemos acceder a los elementos de una **Serie** utilizando la posici√≥n num√©rica del elemento en la Serie, como hac√≠amos con las listas

-  **Indexaci√≥n por etiqueta**: Podemos acceder a los elementos de una **Serie** utilizando las etiquetas de √≠ndice asociadas a cada elemento. 

-  **Indexaci√≥n por rango**: Podemos acceder a un rango de elementos de una **Serie** utilizando los √≠ndices de inicio y fin. 

- **Indexaci√≥n por lista de √≠ndices**: Podemos acceder a varios elementos de una **Serie** utilizando una lista de √≠ndices.

In [12]:
print(" ##### INDEXACI√ìN POR POSICI√ìN #####")
display("La serie con la que vamos a trabajar es:", serie_diccionario)
print("---------------------------")

# accedemos al primer elemento (10). üö® Fijaos como los √≠ndices son como los de las listas, empiezan en 0
print("El valor que est√° en posici√≥n 0 es:", serie_diccionario[0])  
print("---------------------------")

# accedemos al tercer elemento (30)
print("El valor que est√° en posici√≥n 2 es:", serie_diccionario[2])

 ##### INDEXACI√ìN POR POSICI√ìN #####

'La serie con la que vamos a trabajar es:'

Manolo     20
Lorena    220
Paula     198
Lola       78
Marta     167
Pablo      48
dtype: int64

---------------------------
El valor que est√° en posici√≥n 0 es: 20
---------------------------
El valor que est√° en posici√≥n 2 es: 198

In [13]:
print(" ##### INDEXACI√ìN POR ETIQUETA #####")
display("La serie con la que vamos a trabajar es:", serie_diccionario)
print("---------------------------")


# accedemos al valor de la etiqueta de "Lola" (78). üö® Esto lo podr√≠amos comparar con los diccionarios
print("El valor que est√° en posici√≥n 0 es:", serie_diccionario["Lola"])  
print("---------------------------")

# accedemos al valor de la etiqueta de "Pablo" (48). 
print("El valor que est√° en posici√≥n 2 es:", serie_diccionario["Pablo"])

 ##### INDEXACI√ìN POR ETIQUETA #####

'La serie con la que vamos a trabajar es:'

Manolo     20
Lorena    220
Paula     198
Lola       78
Marta     167
Pablo      48
dtype: int64

---------------------------
El valor que est√° en posici√≥n 0 es: 78
---------------------------
El valor que est√° en posici√≥n 2 es: 48

In [14]:
print(" ##### INDEXACI√ìN POR RANGO #####")
display("La serie con la que vamos a trabajar es:", serie_diccionario)
print("---------------------------")

# accedemos a los elementos desde el √≠ndice 1 al 3 ([220, 198, 78]). üö® De niuevo fijaos como esto funciona igual que en listas
# nos esta incluyendo el valor que est√° en el √≠ndice 1, pero no el que est√° en el √≠ndice 4
print("Los valores de los √≠ndices que est√°n entre las posiciones 1 y 3 (incluida) es: \n", serie_diccionario[1:4])

 ##### INDEXACI√ìN POR RANGO #####

'La serie con la que vamos a trabajar es:'

Manolo     20
Lorena    220
Paula     198
Lola       78
Marta     167
Pablo      48
dtype: int64

---------------------------
Los valores de los √≠ndices que est√°n entre las posiciones 1 y 3 (incluida) es:
 Lorena    220
Paula     198
Lola       78
dtype: int64

In [15]:
print(" ##### INDEXACI√ìN POR LISTA DE √çNDICES #####")
display("La serie con la que vamos a trabajar es:", serie_diccionario)
print("---------------------------")

# accedemos a los elementos con √≠ndices 1, 3 y 4. üö® Fijaos como en este caso, le hemos puesto dos corchetes
print("Los valores de los √≠ndices que est√°n en las posiciones 1,3, y 4 son: \n", serie_diccionario[[0,2,3]])

 ##### INDEXACI√ìN POR LISTA DE √çNDICES #####

'La serie con la que vamos a trabajar es:'

Manolo     20
Lorena    220
Paula     198
Lola       78
Marta     167
Pablo      48
dtype: int64

---------------------------
Los valores de los √≠ndices que est√°n en las posiciones 1,3, y 4 son:
 Manolo     20
Paula     198
Lola       78
dtype: int64

# DataFrames en Pandas

## ¬øQu√© es un DataFrame?

Un **DataFrame** es una estructura de datos bidimensional en forma de tabla, similar a una hoja de c√°lculo o una base de datos relacional. Es una de las estructuras de datos m√°s utilizadas en el an√°lisis de datos con Pandas.

Las principales caracter√≠sticas de los **DataFrames** son:

1. **Estructura tabular**: Est√°n organizados en filas y columnas. Cada columna representa una variable o caracter√≠stica, y cada fila representa una observaci√≥n o entrada de datos. Esto facilita la visualizaci√≥n y el manejo de los datos en forma tabular.

2. **Flexibilidad**: Al contrario que las Series, los **DataFrames** pueden contener datos de diferentes tipos, como *integer*s, *float*s, *strings*, fechas, *bool*s, entre otros. Adem√°s, las columnas pueden tener nombres personalizados y los √≠ndices pueden ser etiquetados con valores personalizados.

3. **Operaciones eficientes**: Los **DataFrames** est√°n dise√±ados para realizar operaciones eficientes en grandes conjuntos de datos. Ofrecen una amplia gama de funciones y m√©todos para manipular y analizar datos de manera r√°pida y eficiente.

4. **Facilidad de importaci√≥n y exportaci√≥n**: Los **DataFrames** pueden leer y escribir datos en diversos formatos, como CSV, Excel, archivos de texto, bases de datos SQL, JSON, entre otros. Esto facilita la importaci√≥n y exportaci√≥n de datos desde y hacia diferentes fuentes de datos.

5. **Indexaci√≥n flexible**: Los **DataFrames** permiten acceder y manipular los datos utilizando diversas t√©cnicas de indexaci√≥n, como indexaci√≥n por posici√≥n, indexaci√≥n por etiqueta, indexaci√≥n booleana y m√°s. Esto permite seleccionar y filtrar datos de manera precisa y eficiente.

## Creaci√≥n de DataFrames

En Pandas, podemos crear **DataFrames** a partir de una variedad de fuentes de datos. Las formas m√°s comunes para crear *DataFrames* son:

1. **A partir de un diccionario de listas**: Podemos crear un **DataFrame** a partir de un diccionario de listas, donde cada clave representa una columna y cada valor es una lista representa los valores de esa columna. 

2. **A partir de una lista de diccionarios**: Podemos crear un **DataFrame** a partir de una lista de diccionarios, donde cada diccionario representa una fila y las claves del diccionario representan las columnas.

In [16]:
print(" ------ DATAFRAMES a partir de DICCIONARIO ------ ")

# definimos un diccionario que luego convertiremos a DataFrame. Recordemos que esta era la forma que utilizamos en las lecciones del m√≥dulo 2 de web scraping
data_diccionario = {
    'Nombre': ['Lola', 'Manolo', 'Pablo', 'Mar√≠a'],
    'Edad': [34, 89, 12, 52],
    'Ciudad': ['Londres', 'Madrid', 'Roma', 'Paris']
}

# convertimos el diccionario en DataFrame usando el m√©todo 'pd.DataFrame'
df_diccionario = pd.DataFrame(data_diccionario)

# mostramos el DataFrame. Recordad que para ver las 5 primeras filas usaremos el m√©todo '.head()' 
df_diccionario.head()

 ------ DATAFRAMES a partir de DICCIONARIO ------

   Nombre  Edad   Ciudad
0    Lola    34  Londres
1  Manolo    89   Madrid
2   Pablo    12     Roma
3   Mar√≠a    52    Paris

In [17]:
print(" ------ DATAFRAMES a partir de LISTA ------ ")

# definimos una lista de diccionarios que luego usaremos para convertir en DataFrame
data_lista = [
    {'Nombre': 'Sof√≠a', 'Edad': 22, 'Ciudad': 'M√©xico DF'},
    {'Nombre': 'Luis', 'Edad': 27, 'Ciudad': 'Guadalajara'},
    {'Nombre': 'Laura', 'Edad': 33, 'Ciudad': 'Monterrey'},
    {'Nombre': 'Carlos', 'Edad': 29, 'Ciudad': 'Puebla'}
]


# usamos el m√©todo 'pd.DataFrame' para convertir la lista de diccionarios a DataFrame
df_lista = pd.DataFrame(data_lista)

# mostramos el DataFrame, en este caso usaremos el m√©todo '.tail()' para mostrar las √∫ltimas 5 filas. 
df_lista.tail()

 ------ DATAFRAMES a partir de LISTA ------

   Nombre  Edad       Ciudad
0   Sof√≠a    22    M√©xico DF
1    Luis    27  Guadalajara
2   Laura    33    Monterrey
3  Carlos    29       Puebla

## Lectura de archivos en Pandas

En Pandas, disponemos de diversos m√©todos para abrir y leer diferentes tipos de archivos. Algunos de los m√©todos m√°s comunes utilizados para la lectura de archivos en Pandas:

- `pd.read_csv`

- `pd.read_excel`

- `pd.read_json`

- `pd.read_pickle`

## `pd.read_csv()`: 

Nos va a permitir leer archivos csv, su sintaxis b√°sica es: 

```python
pd.read_csv(ruta_al_fichero , sep=',', delimiter=None, header='infer', names=None, index_col=None, dtype=None)
```

¬øQu√© significan todos estos par√°metros?

- `ruta_al_fichero`: La direcci√≥n de tu archivo CSV que queremos leer.

- `sep` (opcional): Para indicarle a Pandas c√≥mo est√°n separados los datos en nuestro archivo. Normalmente es una coma, pero si es algo diferente, aqu√≠ es donde deber√≠amos cambiarlo.

- `delimiter` (opcional): Es lo mismo que `sep`, solo que con un nombre diferente. Puedes usar cualquiera de los dos.

- `header` (opcional): Indicar√° la fila del archivo CSV que queremos que sea el encabezado del **DataFrame**. Puede tomar los siguientes valores:
  
  - `None`: No hay encabezado y los datos se leer√°n sin nombres de columna.
  
  - `'infer'`: Intentar√° inferir autom√°ticamente los nombres de columna del archivo, este es el que esta por defecto.

  - Un n√∫mero *integer* que especifica la fila del archivo que se utilizar√° como encabezado de columna (por ejemplo, `header=0`).
 

- `names` (opcional): Si quieres cambiar los nombres de las columnas por algo m√°s espec√≠fico. Debe ser una lista.Si se proporciona, reemplazar√° los nombres inferidos o los nombres de columna del archivo.

  
- `index_col` (opcional): Especifica la columna (o columnas) que se utilizar√°/n como √≠ndice del **DataFrame**. Puede ser un n√∫mero *integer*, una cadena con el nombre de la columna o una lista de columnas.

- `dtype` (opcional): Esto es para especificar el tipo de datos de tus columnas. 

- `usecols` (opcional): Carga solo columnas especificadas, las columnas deben ser pasadas en formato lista. 
  
  
Estos son solo los conceptos b√°sicos, pero `pd.read_csv()` tiene un mont√≥n m√°s de trucos en la manga, como saltarse filas, manejar valores nulos y m√°s. Puedes echar un vistazo a la documentaci√≥n oficial [aqu√≠](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) para descubrir m√°s sobre todas las cosas geniales que puedes hacer con esta funci√≥n.

In [19]:
df_jobs = pd.read_csv("../Datos/Pandas/aire.csv")
df_jobs.head(1)

FileNotFoundError: [Errno 2] No such file or directory: '../Datos/Pandas/aire.csv'

Como la propia definici√≥n indica, nuestras columnas deben ir separadas por comas. A veces, puede ocurrir que no vengan separados por comas. Como en el csv que acabamos de abrir. Y es que si nos fijamos nuestras columnas est√°n separadas por `;`. ¬øC√≥mo podemos solucionar esto? 

> Usando el par√°metro `sep` de `pd.read_csv` donde tendremos que especificar por qu√© est√°n separadas mis columnas.

In [14]:
df_aire = pd.read_csv("../Datos/Pandas/aire.csv", sep = ";")
df_aire.head(1)

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,v01,h02,v02,h03,v03,h04,v04,h05,v05,h06,v06,h07,v07,h08,v08,h09,v09,h10,v10,h11,v11,h12,v12,h13,v13,h14,v14,h15,v15,h16,v16,h17,v17,h18,v18,h19,v19,h20,v20,h21,v21,h22,v22,h23,v23,h24,v24
0,28,102,1,1,28102001_1_38,2022,1,30,3.0,T,3.0,T,3.0,T,3.0,T,3.0,T,3.0,T,3.0,T,3.0,T,3.0,T,3.0,T,3.0,T,3.0,T,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N

## `pd.read_excel()`

La sintaxis b√°sica de `pd.read_excel` es la siguiente:

```python
pd.read_excel(ruta_al_fichero, sheet_name=0, header=0, names=None, index_col=None, dtype=None)
```

Donde:
- `ruta_al_fichero`:  Es el nombre del archivo o la ruta de Excel que queremos leer. 

- `sheet_name` (opcional): Indica la hoja o hojas del archivo Excel que queremos leer. Puede tener los siguientes valores:

  - Un n√∫mero *integer* que especifica el √≠ndice de la hoja (por ejemplo, `sheet_name=0` para la primera hoja).

  - Un nombre de hoja como una cadena (por ejemplo, `sheet_name='Sheet1'`).

  - Una lista de nombres de hojas para leer varias hojas (por ejemplo, `sheet_name=['Sheet1', 'Sheet2']`).

- `header` (opcional): Indica la fila del archivo Excel que se utilizar√° como encabezado de columnas. Puede tener los siguientes valores:

  - `None`: No hay encabezado y los datos se leer√°n sin nombres de columna.

  - Un n√∫mero *integer* que especifica la fila del archivo que se utilizar√° como encabezado de columna (por ejemplo, `header=0`).

- `names` (opcional): Es una lista opcional de nombres para las columnas. Si se proporciona, reemplazar√° los nombres inferidos o los nombres de columna del archivo.

- `index_col` (opcional): Especifica la columna (o columnas) que se utilizar√° como √≠ndice del DataFrame resultante. Puede ser un n√∫mero *integer*, una cadena con el nombre de la columna o una lista de columnas.

- `dtype` (opcional): Permite especificar el tipo de datos de las columnas. Puede ser un diccionario que mapee nombres de columna a tipos de datos o un solo tipo de datos para aplicar a todas las columnas.

Adem√°s de estos par√°metros, `pd.read_excel` tambi√©n admite otros par√°metros opcionales, como `skiprows`, `na_values`, `usecols` y m√°s. Estos par√°metros nos permiten personalizar a√∫n m√°s la lectura de archivos Excel seg√∫n tus necesidades. Al igual que en el m√©todo `pd.read_csv()`, podemos  consultar la [documentaci√≥n oficial](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html) para obtener informaci√≥n m√°s detallada sobre estos par√°metros y sus opciones.

In [ ]:
df_xlsx = pd.read_excel("../Datos/Pandas/espacios_protegidos.xlsx", sheet_name=0)
df_xlsx.head()

FileNotFoundError: [Errno 2] No such file or directory: '../Datos/Pandas/espacios_protegidos.xlsx'

üö®‚ö†Ô∏è **NOTA** Puede que al ejecutar este l√≠nea de c√≥digo os salga el siguiente error: 

![error](imagenes/error_excel.png)

**DON'T PANIC!!!** Lo √∫nico que tendremos que hacer es importaros `openpyxl`. ¬øC√≥mo? Nos vamos a la terminal y ejecutamos el siguiente c√≥digo: 

```bash 
pip3 install openpyxl

pip install openpyxl
```

In [16]:
# volvemos a ejecutar el c√≥digo para abrir el fichero
df_xlsx = pd.read_excel("../Datos/Pandas/espacios_protegidos.xlsx", sheet_name=0)
df_xlsx.head()

,espacio_prot_categoria,espacio_prot_figura,espacio_prot_nombre,espacio_prot_superficie_ha,espacio_prot_fecha_declaracion,espacio_prot_normativa,espacio_prot_informacion_web
0,√Åreas protegidas por instrumentos internacionales,Reserva de la Biosfera,"Cuencas Altas de los r√≠os Manzanares, Lozoya y...",105655.000,1992-11-09,Normativa √Åreas protegidas por instrumentos in...,Reserva de la Biosfera Cuencas Altas de los r√≠...
1,√Åreas protegidas por instrumentos internacionales,Reserva de la Biosfera,Sierra del Rinc√≥n,15231.000,2005-06-29,Normativa √Åreas protegidas por instrumentos in...,Reserva de la Biosfera Sierra del Rinc√≥n
2,√Åreas protegidas por instrumentos internacionales,Humedal de Importancia Internacional (RAMSAR),Humedales del Macizo de Pe√±alara,487.198,2005-12-16,Normativa √Åreas protegidas por instrumentos in...,Humedales Ramsar
3,Espacios Protegidos Red Natura 2000,Zona de Especial Protecci√≥n para las Aves,Monte de El Pardo,15298.670,1988-02-01,Normativa Espacios Protegidos Red Natura 2000,Espacios protegidos Red Natura 2000
4,Espacios Protegidos Red Natura 2000,Zona de Especial Protecci√≥n para las Aves,Soto de Vi√±uelas,3071.890,1988-02-01,Normativa Espacios Protegidos Red Natura 2000,Espacios protegidos Red Natura 2000

## `pd.read_json()`

Nos va a permitir abrir arcivos de tipo json. La sintaxis b√°sica de `pd.read_json` es la siguiente:

```python
pd.read_json(ruta_al_fichero, orient=None, typ='frame', dtype=True, convert_axes=True, convert_dates=True, keep_default_dates=True, numpy=False, precise_float=False, date_unit=None, encoding=None, lines=False)
```

Los par√°metros que puede recibir este m√©todo son:

- `ruta_al_fichero`: Es la ruta del archivo JSON que deseamos leer.

- `orient` (opcional): Especifica la orientaci√≥n del archivo JSON. Puede tener los siguientes valores:

  - `'columns'` (por defecto): Se espera que el archivo JSON tenga un formato de columna.

  - `'index'`: Se espera que el archivo JSON tenga un formato de √≠ndice.

  - `'records'`: Se espera que el archivo JSON tenga un formato de registros.

  - `'split'`: Se espera que el archivo JSON tenga un formato dividido.

  - `'values'`: Se espera que el archivo JSON contenga solo valores sin ninguna etiqueta de columna o √≠ndice.

- `typ` (opcional): Indica el tipo de objeto a crear. Puede tener los siguientes valores:

  - `'frame'` (por defecto): Crea un objeto DataFrame.

  - `'series'`: Crea un objeto Series.

- `dtype` (opcional): Permite especificar el tipo de datos de las columnas. Puede ser un diccionario que mapee nombres de columna a tipos de datos o un solo tipo de datos para aplicar a todas las columnas.

- `convert_axes` (opcional): Indica si las etiquetas de los ejes deben convertirse en √≠ndices o nombres de columna. Por defecto, es `True`.

- `convert_dates` (opcional): Indica si se deben convertir las cadenas de fecha y hora en objetos de fecha y hora. Por defecto, es `True`.

- `keep_default_dates` (opcional): Especifica si se deben mantener las fechas predeterminadas al convertir cadenas de fecha y hora. Por defecto, es `True`.

- `numpy` (opcional): Indica si los datos deben devolverse como una matriz NumPy en lugar de un objeto DataFrame. Por defecto, es `False`.

- `precise_float` (opcional): Indica si se deben utilizar n√∫meros de punto *float* precisos en lugar de valores de punto *float* nativos de Python. Por defecto, es `False`.

- `date_unit` (opcional): Especifica la unidad de fecha y hora si se deben convertir las cadenas de fecha y hora. Puede ser `'s'` para segundos o `'ms'` para milisegundos.

- `encoding` (opcional): Permite especificar la codificaci√≥n del archivo JSON si no se puede inferir autom√°ticamente.

- `lines` (opcional): Indica si el archivo JSON contiene m√∫ltiples objetos JSON en l√≠neas separadas en lugar de un solo objeto JSON.

Estos son solo algunos de los par√°metros m√°s comunes utilizados en `pd.read_json`. La funci√≥n `pd.read_json` tambi√©n admite otros par√°metros opcionales, como `orient`, `date_format`, `numpy`, `compression` y m√°s. Podemos consultar la [documentaci√≥n oficial](https://pandas.pydata.org/docs/reference/api/pandas.read_json.html) para obtener informaci√≥n m√°s detallada sobre estos par√°metros y sus opciones.

In [17]:
df_residuos = pd.read_json("../Datos/Pandas/residuos.json")
df_residuos.head()

                                                data
0  {'residuos_pelig_cantidad_ton': 23476.42, 'res...
1  {'residuos_pelig_cantidad_ton': 1927.25, 'resi...
2  {'residuos_pelig_cantidad_ton': 25333.54, 'res...
3  {'residuos_pelig_cantidad_ton': 22060.07, 'res...
4  {'residuos_pelig_cantidad_ton': 13109.74, 'res...

In [18]:
# esto nos devuelve un DataFrame que esta lleno de diccionarios!
# sin embargo, lo podemos convertir f√°cilmente a algo m√°s legible usando la siguiente sintaxis

df_residuos2 = df_residuos['data'].apply(pd.Series)
df_residuos2.head()

,residuos_pelig_cantidad_ton,residuos_pelig_a√±o,residuos_pelig_opcion_gestion,residuos_pelig_tratamiento
0,23476.42,2012,Reciclado,Recuperaci√≥n de disolventes
1,1927.25,2012,Reciclado,Recuperaci√≥n de metales
2,25333.54,2012,Reciclado,Regeneraci√≥n de aceite
3,22060.07,2012,Tratamiento previo a otras formas de valorizaci√≥n,Trituraci√≥n previa a valorizaci√≥n de bater√≠as
4,13109.74,2012,Tratamiento previo a otras formas de valorizaci√≥n,Operaciones previas a valorizaci√≥n de RAEE

## `pd.read_pickle`


**¬øQu√© es Pickle exactamente?**

Un archivo de tipo pickle es un archivo binario en Python que se utiliza para serializar y deserializar objetos,  su acr√≥nimo viene de *Python Pickle Format* que fue desarrollado exclusivamente para Python. Leyendo solo esto podemos seguir sin tener claro que es un archivo de tipo pickle. Expliquemoslo de una forma m√°s sencilla. Imagina que tienes un mont√≥n de objetos especiales en tu habitaci√≥n, como juguetes, libros, peluches, etc. Ahora, supongamos que quieres guardar todos estos objetos en una caja para poder llevarlos contigo o almacenarlos de manera segura.

Aqu√≠ es donde entra en juego un archivo pickle. Es como una caja especial que te permite guardar todos estos objetos en ella. Pero, en lugar de objetos f√≠sicos, el archivo pickle puede almacenar objetos digitales, como datos, n√∫meros, listas, diccionarios y m√°s.

El archivo pickle es como una caja m√°gica que puede guardar todos tus objetos digitales de Python. Cuando guardas estos objetos en un archivo pickle, se convierten en una forma especial que se puede almacenar en tu computadora o enviar a alguien m√°s.

La sintaxis b√°sica de `pd.read_pickle` es la siguiente:

```python
pd.read_pickle(ruta_al_fichero, compression='infer')
```

Donde:

- `filepath_or_buffer`: Es la ruta del archivo pickle que deseas leer.

- `compression` (opcional): Es un par√°metro opcional que indica el tipo de compresi√≥n utilizado en el archivo pickle. Por defecto, es `'infer'`, lo que significa que la biblioteca intentar√° inferir autom√°ticamente el tipo de compresi√≥n. Puedes especificar un tipo de compresi√≥n expl√≠citamente, como `'gzip'` o `'bz2'`, si el archivo pickle est√° comprimido.

In [19]:
df_pkl = pd.read_pickle("../Datos/Pandas/paises_capitales.pkl")
df_pkl

{'Colombia': 'Bogot√°', 'Ecuador': 'Quito', 'Argentina': 'Buenos'}

## Indexaci√≥n en Pandas (`loc` e `iloc`)

En Pandas, tanto `loc` como `iloc` son m√©todos para acceder y manipular datos en un **DataFrame**. Ambos m√©todos ofrecen formas de indexar datos, ya sea utilizando etiquetas o n√∫meros, respectivamente.

- `loc`: Este m√©todo se utiliza para acceder a los datos utilizando etiquetas de fila y columna. Con `loc`, podemos seleccionar filas y columnas **utilizando sus nombres o etiquetas**. La sintaxis general para `loc` es `df.loc[nombre_filas, nombre_columnas]`, donde `filas` y `columnas` pueden ser un √∫nico nombre o una lista de nombres.

- `iloc`: Se utiliza para acceder a los datos utilizando √≠ndices de filas y columnas. Con `iloc`, podemos seleccionar filas y columnas **bas√°ndonos en sus posiciones num√©ricas**. La sintaxis general para `iloc` es `df.iloc[√≠ndice_filas, √≠ndice_columnas]`, donde `filas` y `columnas` pueden ser un √∫nico n√∫mero(√≠ndice) o una lista de n√∫meros(√≠ndices).

La principal diferencia entre `loc` y `iloc` radica en c√≥mo se realizan las selecciones:

- `loc`: Utiliza etiquetas o nombres de filas y columnas para indexar los datos. Por ejemplo, `df.loc[3, 'A']` seleccionar√° el valor en la fila con etiqueta 3 y la columna con etiqueta 'A'.

- `iloc`: Por otro lado, `iloc` utiliza √≠ndices basados en la posici√≥n para realizar las selecciones. Por ejemplo, `df.iloc[3, 0]` seleccionar√° el valor en la cuarta fila y primera columna (recordemos que los √≠ndices empiezan en 0).

Adem√°s, debemos tener en cuenta que `loc` incluye el l√≠mite superior en los rangos de selecci√≥n, mientras que `iloc` lo excluye. Por ejemplo, `df.loc[1:3, 'A']` seleccionar√° las filas con etiquetas 1, 2 y 3, mientras que `df.iloc[1:3, 0]` seleccionar√° las filas con √≠ndices 1 y 2 (excluyendo el √≠ndice 3).

In [24]:
# importamos un nuevo fichero de datos para entender mejor estos conceptos
df = pd.read_csv("../Datos/Pandas/medallas.csv",index_col=["Pa√≠s"],  usecols=["Oro","Plata", "Bronce", "Pa√≠s"])
df

                  Oro  Plata  Bronce
Pa√≠s
China            1473    994     720
Jap√≥n            1032   1037     985
Corea del Sur     745    663     827
Ir√°n              179    181     197
Kazajist√°n        155    158     224
India             154    202     315
Tailandia         132    175     278
Indonesia         112    131     240
China Taip√©i       99    144     276
Corea del Norte    91    120     235

### Selecci√≥n a trav√©s de un √∫nico elemento

Vamos a intentar sacar el valor de 1037, en concreto hace referencia a las medallas de Plata de Jap√≥n. Recordemos que: 

- En el `loc` usaremos los nombres de las filas y las columnas (es como el juego de hundir la flota), corresponde a lo que tenemos en rojo en la imagen. 

- En el `iloc` usaremos los indices de las filas y las columnas, igual que hac√≠amos en las listas o los **array*s* de NumPy, corresponde con lo que vemos en verde en la imagen. 

![imagen](https://github.com/Hack-io-Data/Imagenes/blob/main/02-Imagenes/Pandas/dataframe_medallas_plata_japon.png?raw=true)

In [27]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f'El n√∫mero de medallas de Plata conseguidas por Jap√≥n usando el LOC son:  {df.loc["Jap√≥n", "Plata"]}')

# usando el iloc, accediendo por los √≠ndices, que empiezan en 0 como siempre en Python
print(f'El n√∫mero de medallas de Plata conseguidas por Jap√≥n usando el ILOC es:  {df.iloc[1, 1]}')

El n√∫mero de medallas de Plata conseguidas por Jap√≥n usando el LOC son:  1037
El n√∫mero de medallas de Plata conseguidas por Jap√≥n usando el ILOC es:  1037

Imaginemos que queremos sacar una fila en concreto pero todas las columnas o viceversa:

> En estos casos tendremos que usar `:`, esto √≠ndica que lo queremos todo. Es decir: 

```python
[filas_deseadas, :] # le estamos diciendo que nos busque por una fila dada y nos devuelva todas las columnas

[:, columna_deseada] # devuelvenos todas las filas de la columna que especifiquemos
```

Imaginemos ahora que queremos extraer toda la informaci√≥n de Jap√≥n. En este caso, querremos de una fila concreta y todas las columnas. 

![imagen2](https://github.com/Hack-io-Data/Imagenes/blob/main/02-Imagenes/Pandas/dataframe_medallas_plata_japon.png?raw=true)

In [28]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f'El n√∫mero de medallas conseguidas por Jap√≥n  usando el LOC es: \n  {df.loc["Jap√≥n", :]}')

print("\n----------------------\n")
# Usando el iloc, accediendo por los √≠ndices
print(f'El n√∫mero de medallas conseguidas por Jap√≥n usando el ILOC es: \n  {df.iloc[1, :]}')

El n√∫mero de medallas conseguidas por Jap√≥n  usando el LOC es:
  Oro       1032
Plata     1037
Bronce     985
Name: Jap√≥n, dtype: int64

----------------------

El n√∫mero de medallas conseguidas por Jap√≥n usando el ILOC es:
  Oro       1032
Plata     1037
Bronce     985
Name: Jap√≥n, dtype: int64

¬øY si ahora quisieramos extraer todas las medallas de Oro para todos los pa√≠ses? En este caso querr√≠amos todas las filas y una sola columna. 

![imagen3](https://github.com/Hack-io-Data/Imagenes/blob/main/02-Imagenes/Pandas/dataframe_medallas_oro.png?raw=true)

In [29]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f'El n√∫mero de medalas de Oro de todos los pa√≠ses usando el LOC es: \n  {df.loc[:, "Oro"]}')

print("\n----------------------\n")
# Usando el iloc, accediendo por los √≠ndices
print(f'El n√∫mero de medalas de Oro de todos los pa√≠ses usando el ILOC es: \n  {df.iloc[:, 0]}')

El n√∫mero de medalas de Oro de todos los pa√≠ses usando el LOC es:
  Pa√≠s
China              1473
Jap√≥n              1032
Corea del Sur       745
Ir√°n                179
Kazajist√°n          155
India               154
Tailandia           132
Indonesia           112
China Taip√©i         99
Corea del Norte      91
Name: Oro, dtype: int64

----------------------

El n√∫mero de medalas de Oro de todos los pa√≠ses usando el ILOC es:
  Pa√≠s
China              1473
Jap√≥n              1032
Corea del Sur       745
Ir√°n                179
Kazajist√°n          155
India               154
Tailandia           132
Indonesia           112
China Taip√©i         99
Corea del Norte      91
Name: Oro, dtype: int64

### Selecci√≥n a trav√©s de una lista de valores 

En este caso la sintaxis del `loc` y el `iloc` cambian un poco. Seguiremos usando los nombres de las filas y las columnas para el `loc` y los √≠ndices para el `iloc`, pero tendremos que a√±adir un corchete m√°s. 

```python
[[fila_deseada1, fila_deseada2], :] # le estamos diciendo que nos busque por una fila dada y nos devuelva todas las columnas. FIJAOS COMO LO QUE HEMOS HECHO HA SIDO A√ëADIR UNOS CORCHETES M√ÅS DONDE INCLUIREMOS LOS NOMBRES DE LAS FILAS O COLUMNAS QUE QUERRAMOS SEPARADAS POR COMAS. Los ':' siguen indicando que queremo todas las columnas en este caso.

[:, [col_deseada1, col_deseada2]] # devuelvenos todas las filas de la columna que especifiquemos. FIJAOS COMO LO QUE HEMOS HECHO HA SIDO A√ëADIR UNOS CORCHETES M√ÅS DONDE INCLUIREMOS LOS NOMBRES DE LAS FILAS O COLUMNAS QUE QUERRAMOS SEPARADAS POR COMAS. Los ':' siguen indicando que queremos todas las filas.
```

Ahora vamos a querer extraer la informaci√≥n de las medallas de Oro, pero solo vamos a querer los datos de Corea (Corea del Sur y Corea del Norte).

In [30]:
df

                  Oro  Plata  Bronce
Pa√≠s
China            1473    994     720
Jap√≥n            1032   1037     985
Corea del Sur     745    663     827
Ir√°n              179    181     197
Kazajist√°n        155    158     224
India             154    202     315
Tailandia         132    175     278
Indonesia         112    131     240
China Taip√©i       99    144     276
Corea del Norte    91    120     235

In [31]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f'Las medallas de Oro para Corea del Norte y del Sur usando el LOC es: \n  {df.loc[["Corea del Sur", "Corea del Norte"], "Oro"]}')

print("\n----------------------\n")
# Usando el iloc, accediendo por los √≠ndices
print(f'Las medallas de Oro para Corea del Norte y del Sur usando el ILOC es: \n  {df.iloc[[2, -1], 0]}')

Las medallas de Oro para Corea del Norte y del Sur usando el LOC es:
  Pa√≠s
Corea del Sur      745
Corea del Norte     91
Name: Oro, dtype: int64

----------------------

Las medallas de Oro para Corea del Norte y del Sur usando el ILOC es:
  Pa√≠s
Corea del Sur      745
Corea del Norte     91
Name: Oro, dtype: int64

Imaginemos ahora que no queremos solo la informaci√≥n de las medallas de Oro para Corea del Norte y del Sur, si no que tambi√©n queremos la informaci√≥n de las medallas de Plata.

In [33]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f'Las medallas de Oro y Plata para Corea del Norte y del Sur usando el LOC es: \n  {df.loc[["Corea del Sur", "Corea del Norte"], ["Oro", "Plata"]]}')

print("\n----------------------\n")
# Usando el iloc, accediendo por los √≠ndices
print(f'Las medallas de Oro y Plata para Corea del Norte y del Sur usando el ILOC es: \n  {df.iloc[[2, -1], [0,1]]}')

Las medallas de Oro y Plata para Corea del Norte y del Sur usando el LOC es:
                   Oro  Plata
Pa√≠s
Corea del Sur    745    663
Corea del Norte   91    120

----------------------

Las medallas de Oro y Plata para Corea del Norte y del Sur usando el ILOC es:
                   Oro  Plata
Pa√≠s
Corea del Sur    745    663
Corea del Norte   91    120

### Selecci√≥n de un rango de datos a trav√©s de un corte

En este caso podremos usar la sintaxis de `[start:stop:step]` que conocemos de listas.

In [34]:
# lo primero que vamos a hacer es recordar el DataFrame
df

                  Oro  Plata  Bronce
Pa√≠s
China            1473    994     720
Jap√≥n            1032   1037     985
Corea del Sur     745    663     827
Ir√°n              179    181     197
Kazajist√°n        155    158     224
India             154    202     315
Tailandia         132    175     278
Indonesia         112    131     240
China Taip√©i       99    144     276
Corea del Norte    91    120     235

En este ejercicio vamos a querer sacar las medallas de Oro y Bronce desde la Ir√°n hasta Indonesia.

In [36]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f"Las medallas de Oro y Bronce de Ir√°n hasta Indonesia usando el LOC son: \n  {df.loc['Ir√°n': 'Indonesia', ["Oro", "Bronce"] ]}")

print("\n----------------------\n")
# Usando el iloc, accediendo por los √≠ndices
print(f'Las medallas de Oro y Bronce de Ir√°n hasta Indonesia usando el ILOC son: \n  {df.iloc[3:8, [0,2]]}')

Las medallas de Oro y Bronce de Ir√°n hasta Indonesia usando el LOC son:
              Oro  Bronce
Pa√≠s
Ir√°n        179     197
Kazajist√°n  155     224
India       154     315
Tailandia   132     278
Indonesia   112     240

----------------------

Las medallas de Oro y Bronce de Ir√°n hasta Indonesia usando el ILOC son:
              Oro  Bronce
Pa√≠s
Ir√°n        179     197
Kazajist√°n  155     224
India       154     315
Tailandia   132     278
Indonesia   112     240

¬øY si quisieramos saber todas las medallas de China, Corea del Sur, Kazajist√°n y Tailandia? En este caso tendremos que hacer uso del `[start_ stop: step]`

In [37]:
df

                  Oro  Plata  Bronce
Pa√≠s
China            1473    994     720
Jap√≥n            1032   1037     985
Corea del Sur     745    663     827
Ir√°n              179    181     197
Kazajist√°n        155    158     224
India             154    202     315
Tailandia         132    175     278
Indonesia         112    131     240
China Taip√©i       99    144     276
Corea del Norte    91    120     235

In [47]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f"Todas las medallas para China, Corea del Sur,  Kazajist√°n y Tailandia usando el LOC es: \n  {df.loc["China":"Tailandia":2, :]}")

print("\n----------------------\n")
# Usando el iloc, accediendo por los √≠ndices
print(f'Todas las medallas para China, Corea del Sur,  Kazajist√°n y Tailandia usando el ILOC es: \n  {df.iloc[:7:2, :]}')

Todas las medallas para China, Corea del Sur,  Kazajist√°n y Tailandia usando el LOC es:
                  Oro  Plata  Bronce
Pa√≠s
China          1473    994     720
Corea del Sur   745    663     827
Kazajist√°n      155    158     224
Tailandia       132    175     278

----------------------

Todas las medallas para China, Corea del Sur,  Kazajist√°n y Tailandia usando el ILOC es:
                  Oro  Plata  Bronce
Pa√≠s
China          1473    994     720
Corea del Sur   745    663     827
Kazajist√°n      155    158     224
Tailandia       132    175     278

### Seleccionar basado en una condici√≥n 

Al igual que en NumPy podemos filtrar los datos de nuestro **DataFrame** usando operadores de comparaci√≥n,  como `>`, `<`, `>=`, `<=`, `==` o `!=`. Pero antes de ponernos a ver como filtrar datos, aprendamos a acceder solo a una columna de nuestro **DataFrame**. Podr√≠amos pensar que lo podemos hacer con un `loc` o un `iloc` como hemos estado viendo hasta ahora, pero hay una forma un poco m√°s sencilla. Para eso deberemos seguir la siguiente sintaxis:

```python
df["nombre_columna"]
df.nombre_columna
# estas dos opciones me devuelven exactamente lo mismo. 
```

In [48]:
# recordamos el DataFrame
df

                  Oro  Plata  Bronce
Pa√≠s
China            1473    994     720
Jap√≥n            1032   1037     985
Corea del Sur     745    663     827
Ir√°n              179    181     197
Kazajist√°n        155    158     224
India             154    202     315
Tailandia         132    175     278
Indonesia         112    131     240
China Taip√©i       99    144     276
Corea del Norte    91    120     235

In [50]:
# accedemos a los datos de la columna 'Oro'
# Fijaos como nos ha devuelto una serie donde tenemos todos los valores de la columna 'Oro'
df["Oro"]

Pa√≠s
China              1473
Jap√≥n              1032
Corea del Sur       745
Ir√°n                179
Kazajist√°n          155
India               154
Tailandia           132
Indonesia           112
China Taip√©i         99
Corea del Norte      91
Name: Oro, dtype: int64

In [51]:
# El c√≥digo de arriba es exactamente igual que:
df.Oro

Pa√≠s
China              1473
Jap√≥n              1032
Corea del Sur       745
Ir√°n                179
Kazajist√°n          155
India               154
Tailandia           132
Indonesia           112
China Taip√©i         99
Corea del Norte      91
Name: Oro, dtype: int64

¬øY que pasar√≠a si quisiera acceder a varias columnas? Solo podremos usar la sintaxis `df[["columna_1", "columna_2"]]`. Fijaos como ahora estamos a√±adiendo un corchete extra a la sintaxis que hemos aprendido en los pasos anteriores.

In [52]:
df[["Oro", "Bronce"]]

                  Oro  Bronce
Pa√≠s
China            1473     720
Jap√≥n            1032     985
Corea del Sur     745     827
Ir√°n              179     197
Kazajist√°n        155     224
India             154     315
Tailandia         132     278
Indonesia         112     240
China Taip√©i       99     276
Corea del Norte    91     235

Una vez que hemos visto esto como acceder a los datos de una o varias columnas unicamente, vamos a ver como podemos filtrar los datos del **DataFrame**, igual que hac√≠amos en los *array*s. 

En este primer ejemplo, vamos a quedarnos con todos los datos donde las medallas de Oro  sean mayor que 1000. En este caso seguiremos la siguiente sintaxis: 

```python
df.loc[df["columna"] CONDICION]
```

In [53]:
# filtramos nuestros datos para quedarnos solo con las filas donde la temperatura sean mayor que 12
df_mayor_1000_1 = df.loc[df.Oro > 1000, :]
print(f"El resultado usando la sintaxis de DF.COLUMNA usando LOC es:\n {df_mayor_1000_1}")

print("\n --------------- \n")

# la linea de arriba es exactamente la misma que esta que vemos aqu√≠ abajo
df_mayor_1000_2 = df.loc[df["Oro"] > 1000, :]
print(f"El resultado usando la sintaxis de df['COLUMNA'] usando LOC es:\n {df_mayor_1000_2}")

El resultado usando la sintaxis de DF.COLUMNA usando LOC es:
         Oro  Plata  Bronce
Pa√≠s
China  1473    994     720
Jap√≥n  1032   1037     985

 ---------------

El resultado usando la sintaxis de df['COLUMNA'] usando LOC es:
         Oro  Plata  Bronce
Pa√≠s
China  1473    994     720
Jap√≥n  1032   1037     985

In [54]:
# ¬øy como lo har√≠amos con iloc? Se nos ocurrir√≠a que usando los corchetes, poniendo el √≠ndice de la columna que queremos usar como filtro. 
# veamoslo. 
df.iloc[df[0] > 1000, :]

KeyError: 0

‚ö†Ô∏è Obtenemos el error porque `iloc` no puede aceptar una Serie booleana. S√≥lo acepta una lista booleana. Podemos utilizar la funci√≥n `list()` para convertir una Serie en una lista booleana. Por lo tanto, tendr√≠amos que:

In [55]:
df.iloc[list(df.Oro > 1000), :]

        Oro  Plata  Bronce
Pa√≠s
China  1473    994     720
Jap√≥n  1032   1037     985

In [56]:
# si juntamos todo lo aprendido de loc e iloc en las √∫ltimas celdas

# filtramos nuestros datos para quedarnos solo con las filas donde el n√∫mero de medallas de Oro sea mayor que 1000
df_mayor_1000_1 = df.loc[df.Oro > 1000, :]
print(f"El resultado usando la sintaxis de DF.COLUMNA usando LOC es:\n {df_mayor_1000_1}")

print("\n --------------- \n")

# la linea de arriba es exactamente la misma que esta que vemos aqu√≠ abajo
df_mayor_1000_2 = df.loc[df["Oro"] > 1000, :]
print(f"El resultado usando la sintaxis de df['COLUMNA'] usando LOC es:\n {df_mayor_1000_2}")

print("\n --------------- \n")

# filtramos con ILOC
df_mayor_1000_iloc = df.iloc[list(df.Oro > 1000), :]
print(f"El resultado usando la sintaxis de df['COLUMNA'] usando ILOC es:\n {df_mayor_1000_iloc}")

El resultado usando la sintaxis de DF.COLUMNA usando LOC es:
         Oro  Plata  Bronce
Pa√≠s
China  1473    994     720
Jap√≥n  1032   1037     985

 ---------------

El resultado usando la sintaxis de df['COLUMNA'] usando LOC es:
         Oro  Plata  Bronce
Pa√≠s
China  1473    994     720
Jap√≥n  1032   1037     985

 ---------------

El resultado usando la sintaxis de df['COLUMNA'] usando ILOC es:
         Oro  Plata  Bronce
Pa√≠s
China  1473    994     720
Jap√≥n  1032   1037     985

**¬øY si queremos que se cumplan varias condiciones?**

En este caso tendremos que usar los operadores `&` o `|`, como vimos en NumPy. Recordemos lo que significan: 

- `&`: es como el operador `and`. En este caso se tendr√°n que cumplir todas las condiciones que le pasemos. 

- `|`: es como el operador `or`. En este caso nos devolver√° datos de las condiciones que se cumplan, pero tienen porque cumplirse todas a la vez. O una condici√≥n y otra. 

En este ejercicio vamos a querer filtrar  los pa√≠ses que tengan menos de 100 medallas de Oro  y m√°s de 900 de Bronce.

In [57]:
# Seleccionar aquellas filas donde se cumpla la condici√≥n de que el viento es mayor que 20 y el tiempo era soleado.
# adem√°s estamos especificando que nos devuelva solo las columnas de "Temperature" y " Wind"
# SE TIENEN QUE CUMPLIR LAS DOS CONDICIONES

# filtramos con LOC
df_dos_condiciones_loc = df.loc[(df.Oro < 100) & (df.Bronce > 900), :]

# filtramos con ILOC
df_dos_condiciones_iloc = df.iloc[list((df.Oro < 100) & (df.Bronce > 900)), :]


print(f"El resultado usando LOC es:\n {df_dos_condiciones_loc}")

print("\n --------------- \n")

print(f"El resultado usando ILOC es:\n {df_dos_condiciones_iloc}")

El resultado usando LOC es:
 Empty DataFrame
Columns: [Oro, Plata, Bronce]
Index: []

 ---------------

El resultado usando ILOC es:
 Empty DataFrame
Columns: [Oro, Plata, Bronce]
Index: []

In [58]:
# hag√°moslo ahora con un or (|)
# SE TIENE QUE CUMPLIR UNA CONDICI√ìN U OTRA

# filtramos con LOC
df_dos_condiciones_loc_or = df.loc[(df.Oro < 100) | (df.Bronce > 900), :]

# filtramos con ILOC
df_dos_condiciones_iloc_or = df.iloc[list((df.Oro < 100) | (df.Bronce > 900)), :]


print(f"El resultado usando LOC es:\n {df_dos_condiciones_loc_or}")

print("\n --------------- \n")

print(f"El resultado usando ILOC es:\n {df_dos_condiciones_iloc_or}")

El resultado usando LOC es:
                   Oro  Plata  Bronce
Pa√≠s
Jap√≥n            1032   1037     985
China Taip√©i       99    144     276
Corea del Norte    91    120     235

 ---------------

El resultado usando ILOC es:
                   Oro  Plata  Bronce
Pa√≠s
Jap√≥n            1032   1037     985
China Taip√©i       99    144     276
Corea del Norte    91    120     235

**POR LO TANTO, LAS DIFERENCIAS ENTRE `LOC` E `ILOC` SON:**

|       | loc                                             | iloc                                                |
|-------|-------------------------------------------------|-----------------------------------------------------|
| Uso   | Acceso a datos utilizando etiquetas de √≠ndice    | Acceso a datos utilizando posiciones de √≠ndice       |
| √çndice| Puede utilizar etiquetas o slices de etiquetas   | Solo puede utilizar posiciones enteras o slices      |
| Filtrado | Permite filtrar filas y seleccionar columnas     | Permite filtrar filas y seleccionar columnas         |
| Sintaxis | Utiliza etiquetas separadas por comas           | Utiliza posiciones enteras separadas por comas       |
| Ejemplo | `df.loc[3:5, 'columna']`                        | `df.iloc[3:5, 2]`                                   |